@font-face {
	font-family: Rotis-SansSeriffor-ACCN-Bold;
	src: url('./../css/fonts/RotisSansSerifforACCN-Bold.otf');
}
body{
	margin:0px;
}
.ui-btn-text{
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
.body-bg{
	background:#2A4385;
	height:100%;
	margin:0px;
	overflow:hidden;
}
.page-bg {
	background: #2A4385;
	margin: auto;
	position: absolute;
	min-height: 100%;
	width: 100%;
}
.greater-than-img{
	xbackground-image:url('./../images/grtr.png');
	background-size: 100% 100%;
    background-repeat: no-repeat;
	width: 244px;
	height: 131px;
	margin: 15% 0 0 5%;
}
.home-page-bg{
	xbackground-image:url('./../images/m-bg-girl.png');
	background-size: 100% 100%;
    background-repeat: no-repeat;
	height: 100%;
	width: 100%;
	margin: auto;
	overflow: hidden;
	position: absolute;
	bottom: 0%;
}
.wqq-anchor-text{
	font-family:Rotis-SansSeriffor-ACCN-Bold;
	color: #FFF;
	font-size:1em;
	text-decoration: inherit;
}
.ladding-ladder-img{
	xbackground-image:url('./../images/SidePanel.png');
	background-size: 100% 100%;
    background-repeat: no-repeat;
	width: 185px;
	height: 292px;
}
.congrats-page-bg{
	xbackground-image:url('./../images/m-bg-congrats.png');
	background-size: 100% 100%;
    background-repeat: no-repeat;
	
	width: 100%;
	min-height:100% ! important;
	position:absolute;
}
.landing-ladder-container,.question-ladder-container{
	margin: 7% auto;
}
.home-question-text{
	font-family:Rotis-SansSeriffor-ACCN-Bold;
	font-size: 1.5em;
	color: #FFF;
	width: 75%;
	margin: 20% 0 0 5%;
	padding-top:20%;
}
.home-btn-container{
	width:100%;
}
.std-btn{
	font-family:Rotis-SansSeriffor-ACCN-Bold;
	color: #FFF500;
	border: 3px solid #FFF500;
	padding:2% 0.5% 0.5% 0.5%;
	font-size: 1em;
	display: inline-block;
	margin-top:10%;
	text-align: center;
	width:30%;
	margin-bottom:3%;
}
.first-left-btn{
	margin-left:5%;
}
.intro-btn{
	margin-left:2%;
}
.landing-title,.congrats-text{
	font-family:Rotis-SansSeriffor-ACCN-Bold;
	font-size:1.5em;
	color:#FFF500;
	padding:10% 0 0 5%;
}
.landing-para{
	font-family:Rotis-SansSeriffor-ACCN-Bold;
	color: #FFF;
	width: 85%;
	margin: 3% 0 0 5%;
	font-size:1.1em;
}
.time-container{
	font-family:Rotis-SansSeriffor-ACCN-Bold;
	width: 20%;
	color: #FFF500;
	border: 3px solid #FFF500;
	padding: 1.5% 0.7% 0.7% 0.7%; 
	font-size: 18px;
	margin: 0 0 0 70%;
	text-align: center;
}
.time-container-layout{
	padding-top:7%;
}
.quiz-number-container{
	margin: 20% 5% 0 5%;
	height: 25px;
}
.quiz-number{
	font-family:Rotis-SansSeriffor-ACCN-Bold;
	border: 2px solid #FFF500;
	display: inline-block;
	width: 6.5%;
	margin-right: 1%;
	padding-top:1.5%;
	text-align: center;
	color: #FFF500;	
}
.question-text{
	font-family:Rotis-SansSeriffor-ACCN-Bold;
	margin: 7% 0 0 5%;
	font-size: 1.8em;
	width: 90%;
	color: #FFF500;
}
.option-text{
	font-family:Rotis-SansSeriffor-ACCN-Bold;
	margin: 1% 0 2% 5%;
	color: #FFF;
	cursor:pointer;
}
.first-option{
	margin-top:3% !important;
}
.answer-container{
	font-family:Rotis-SansSeriffor-ACCN-Bold;
	min-height: 200px;
	margin: 5% 7% 0 5%;
	background: #FFF500;
}
.answer-title{
	font-family:Rotis-SansSeriffor-ACCN-Bold;
	font-size: 1.5em;
	padding-top: 5%;
	margin-left: 5%;
}
.answer-text{
	font-family:Rotis-SansSeriffor-ACCN-Bold;
	width: 90%;
	margin: 1% 0 0 5%;
	font-size: 1.1em;
	padding-bottom:2%;
	word-wrap: break-word;
}
.social-icon-container{
	background-size: 100% 100%;
    background-repeat: no-repeat;
	width: 36px;
	height: 36px;
	display: inline-block;
	margin-top: 8%;
}
.congrats-greater-than-img-container {
	padding-top: 8%;
}
.congrats-greater-than-img {
	
	background-size: 100% 100%;
	background-repeat: no-repeat;
	width: 170px;
	height: 91px;
	margin: auto;
}

.wqq-anchor-text {
	font-family:Rotis-SansSeriffor-ACCN-Bold;
	color: #FFF500;
	font-size: 1em;
	text-decoration: inherit;
}


.linked-in-icon{
	xbackground-image:url('./../images/linked-in.png');	
	margin-left:5%;
}
.facebook-icon{
	xbackground-image:url('./../images/facebook.png');
}
.twitter-icon{
	xbackground-image:url('./../images/twitter.png');
}
.congrats-ladder-container{
	margin: 7% auto;
}
.award-img{
	xbackground-image:url('./../images/award.png');
	background-size: 100% 100%;
    background-repeat: no-repeat;
	width: 175px;
	height: 242px;	
	margin: 10% auto 2% auto;
	position: relative;
}
.correct-answer{
	border:1px solid #FFF;
}
.incorrect-answer{
	xbackground-image:url('./../images/cross-img.png');
	background-size: 100% 100%;
    background-repeat: no-repeat;
	width: 24px;
	height: 24px;
}

@media screen and (min-width: 319px) and (max-width: 321px) {
	
	.greater-than-img{width: 170px;height: 80px;}
	.home-question-text {font-size: 1.1em;margin: 10% 0 0 5%;padding-top:25%;}
	.home-girl-img{width: 100%;height: 210px;}	
	.question-text{font-size: 1.2em;}
	.landing-para{width:90%;}
	.social-icon-container{width: 30px;	height: 30px;}		
	.time-container{width: 20%;margin: 0 0 0 70%;}
	.quiz-number{
		width:6.15%;
		}
	.std-btn{
		width:28%;
		}
	
}
@media screen and (min-width: 360px) and (max-width: 420px) {
	
	.greater-than-img{width: 190px;height: 110px;}
	.home-question-text {font-size: 1.2em;margin: 10% 0 0 5%;}
	.home-girl-img{width: 100%;height: 320px;}	
	.question-text{font-size: 1.3em;}
	.landing-para{width:90%;}
	.social-icon-container{width: 30px;	height: 30px;}	
	.time-container{width: 20%;margin: 0 0 0 70%;}
}


@media screen and (min-height: 600px) and (max-height: 800px) {
	/*#congrats-page .landing-intro-text {
		overflow-y: scroll;
		height: 190px;
	}*/
}
/* iPOD 640 x 1136 pixels*/
@media screen and (min-width: 1279px) and (max-width: 1281px) {
	.home-question-text{
		margin: 5% 0 0 5%;
		padding-top: 15%;
		font-size: 2em;
	}
	.std-btn{
		font-size: 2em;
		width:17%;
		margin-top: 5%;
		padding: 1% 0.5% 0.5% 0.5%;
	}
	.landing-title, .congrats-text{
		font-size:2.5em;
	}
	.landing-para{
		font-size:1.5em;
	}
	.time-container {
		width: 15%;
		padding: 1.5% 0.7% 0.7% 0.7%;
		font-size: 2em;
		margin: 0 0 0 75%;
	}
	.quiz-number-container {
		margin: 10% 5% 0 5%;
	}
	.quiz-number{
		font-size:2em;
	}
	.option-text{
		font-size:1.4em;
	}
	.answer-title {
		font-size: 2.5em;
		padding-top: 3%;
	}
	.answer-container{
		margin:3% 7% 0 5%;
	}
	.answer-text{
		font-size:1.5em;
	}
	.answer-container{
		min-height: 250px;
	}
	.award-img{
		margin: 5% auto 2% auto;
	}
}
@media screen and (min-width: 480px) and (max-width: 630px) {
	
	.home-question-text{
		margin: 5% 0 0 5%;
		padding-top: 0%;
	}
	.std-btn{
		margin-top:5%;
		width: 20%;
	}
	.quiz-number-container {
		margin: 10% 5% 0 5%;
	}
	.quiz-number{
		width:7.5%;
	}
	.social-icon-container{
		margin-top:5%;
	}
}
@media screen and (min-width: 680px) and (max-width: 1080px) {
	.home-question-text{
		margin: 10% 0 0 5%;
		padding-top: 5%;
		font-size: 2.5em;
	}
	.std-btn{
		margin-top:5%;
		width: 17%;
		font-size: 1.6em;
	}
	.landing-title, .congrats-text,.answer-title{
		font-size: 3em;
	}
	.landing-para,.time-container,.option-text{
		font-size: 1.5em;
	}
	.answer-text{
		font-size:2.2em;
	}
	.question-text{
		font-size:2.8em;
	}
	.quiz-number{
		border: 2px solid #FFF500;
		font-size: 2em;
	}
	.quiz-number-container {
		margin: 10% 5% 0 5%;
	}
	.quiz-number{
		width:7.8%;
		background-repeat: no-repeat;
		background-size: 80% 80%;
		background-position: 59%;
	}
	.answer-container{
		margin: 5% 7% 0 5%;
	}
	.social-icon-container{
		margin-top:5%;
	}
	.ladding-ladder-img{
		width: 285px;
		height: 450px;
	}
}