@font-face {
	font-family: Rotis-SansSeriffor-ACCN-Bold;
	src:url('./fonts/RotisSansSerifforACCN-Bold.eot?')format('embedded-opentype');
	src :url('./fonts/RotisSansSerifforACCN-Bold.otf')format('opentype');
	src: url('../../Pages/fonts/RotisSansSerifforACCN-Bold.woff')  format('woff');
}
.ui-btn-text{
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
.body-bg {
	margin: 7% auto;
}
.page-bg {
	background: #2A4385;
	height: 655px;
	width: 900px;
	margin: auto;
}
.home-page-bg{
	background-size: 100% 100%;
    background-repeat: no-repeat;
	height: 655px;
	width: 900px;
	margin: auto;
}
.wqq-anchor-text {
	font-family:Rotis-SansSeriffor-ACCN-Bold;
	color: #FFF500;
	font-size: 1em;
	text-decoration: inherit;
	text-decoration:underline;
}

.greater-than-image-container {
	padding: 7% 0 0 5%;
}
.header-img {
	
	background-size: 96% 100%;
	background-repeat: no-repeat;
	width: 96%;
	height: 93px;
	margin-left:4%;
}
.greater-than-img {
	background-image: url('./../images/grtr.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	width: 244px;
	height: 131px;
}
.congrats-container {
	float: left;
	width: 77%;
}
.award-img-container {
	float: right;
	margin: 10% 3% 0 0;
}
.congrats-greater-than-img {
	background-image: url('./../images/grtr.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	width: 244px;
	height: 131px;
	margin: auto;
}
.congrats-page-bg .landing-intro-text {
	max-height: 255px;
	overflow-y: auto;
}
.award-img {
	background-size: 100% 100%;
	background-repeat: no-repeat;
	width: 175px;
	height: 242px;
}
.congrats-greater-than-img-container {
	padding-top: 3%;
}
.home-question-text {
	font-family:Rotis-SansSeriffor-ACCN-Bold;
	font-size: 2em;
	color: #FFF;
	width: 25rem;
	margin: 0 0 0 5%;
	padding-top:15%;
}
.landing-intro-text{
	max-height: 380px;
	overflow-y: auto;
}
.std-btn {
	font-family:Rotis-SansSeriffor-ACCN-Bold;
	width: 8rem;
	color: #FFF500;
	border: 3px solid #FFF500;
	padding: 0.5%;
	font-size: 1.5em;
	display: inline-block;
	margin-top: 5%;
	text-align: center;
	cursor: pointer;
}
.home-btn-container .first-left-btn {
	margin-left: 5%;
}
.first-left-btn {
	margin-left: 6%;
}
.intro-btn {
	margin-left: 2%;
}
.landing-ladder-container {
	margin: 5% 5% 0 0;
	float: right;
}
.button-text-container {
	width: 70%;
	float: left;
}
.landing-continue-btn{width:20%;}
.time-container {
	font-family:Rotis-SansSeriffor-ACCN-Bold;
	width: 45%;
	color: #FFF500;
	border: 3px solid #FFF500;
	padding: 4%;
	font-size: 1.5em;
	text-align: center;
}
.time-container-layout {
	padding-top:5%;
	float: right;
	width: 20%;
}
.time-number-container {
	display: inline-block;
	width: 100%;
}
.quiz-number-container {
	padding-top: 5%;	
	float: left;
	width: 80%;
}
.question-option-button-container {
	float: left;
	width: 66%;
}
.quiz-number-inner-container {
	width: 90%;
	padding: 1% 0.3%;
}
.first-quiz-number {
	margin-left: 5.5% !important;
}

.quiz-number {
	font-family:Rotis-SansSeriffor-ACCN-Bold;
	border: 2px solid #FFF500;
	display: inline-block;
	width: 5%;
	margin-left: 1%;
	text-align: center;
	color: #FFF500;
	padding: 0.5%;
        font-size:1.5em;  
	background-repeat: no-repeat;
	background-size: 80% 80%;
	background-position: 50% 50%;
}
.question-ladder-container {
	float: right;
	margin: 3% 5% 0 0;
}
.question-submit-btn {
	width: 17%;
}
.question-submit-btn {
	width: 22%;
}
.congrats-text{
	font-family:Rotis-SansSeriffor-ACCN-Bold;
	font-size:2.5em;
	color:#FFF500;
	padding:5% 0 0 5.5%;
}
.landing-title {
	font-family:Rotis-SansSeriffor-ACCN-Bold;
	font-size:2.5em;
	color: #FFF500;
	padding: 5% 0 0 4%;
}
.answer-container {
	max-height: 205px;
	margin: 0 5% 0 6%;
	background: #FFF500;
	width:100%;
}
.answer-title {
	font-family:Rotis-SansSeriffor-ACCN-Bold;
	font-size: 2em;
	padding-top: 3%;
	margin-left: 5%;
}
.answer-button-container {
	float: left;
	width: 90%;
}
.option-text {
	font-family:Rotis-SansSeriffor-ACCN-Bold;
	margin: 1% 0 0 6%;
	color: #FFF;
	font-size:1.2em;
	padding-bottom: 1%;
	cursor: pointer;
}
.congrats-page-bg {
	background-size: 100% 100%;
	background-repeat: no-repeat;
	width: 900px;
	height: 655px;
	margin:auto;
}
.ladder-img, .ladding-ladder-img {
	background-size: 100% 100%;
	background-repeat: no-repeat;
	width: 185px;
	height: 292px;
}
.landing-para {
	font-family:Rotis-SansSeriffor-ACCN-Bold;
	color: #FFF;
	width: 94%;
	margin: 3% 0 0 6%;
	font-size:1.5em;
}
.question-text {
	font-family:Rotis-SansSeriffor-ACCN-Bold;
	margin: 5% 0 3% 6%;
	font-size: 1.5em;
	width: 90%;
	color: #FFF500;
	
}
.answer-text {
	font-family:Rotis-SansSeriffor-ACCN-Bold;
	width: 94%;
	margin: 1% 0 0 5%;
	font-size: 1.3em;
	height: 125px;
	overflow-y: auto;
	padding-bottom:2%;
}
.social-icon-container {
	background-size: 100% 100%;
	background-repeat: no-repeat;
	width: 36px;
	height: 36px;
	display: inline-block;
	margin-top: 3%;
	cursor: pointer;
}
.linked-in-icon {
	xbackground-image: url('./../images/linked-in.png');
	margin-left:6%;
}
.facebook-icon {
	xbackground-image: url('./../images/facebook.png');
}
.twitter-icon {
	xbackground-image: url('./../images/twitter.png');
}
.congrats-ladder-container {
	margin: 7% auto;
}
.correct-answer {
	border: 1px solid #FFF;
}
.incorrect-answer {
	background-image: url('./../images/cross-img.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	width: 24px;
	height: 24px;
}

.inner-ladder-image {
	width: 185px;
	height: 292px;
	background-position: 58% 41%;
	background-repeat: no-repeat;
}
